* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: Verdana;
}
.cabecalho {
    background-color: #3c0d0de4;
    color: #ffffff;
    padding: 15px;
    margin: 10px;
    border-radius: 6px;
}

.container-formulas-titulo {
    width: 200px;
    background-color: #e7bc5ee4;
    color: #000000;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    border-radius: 6px;
}

.container-vp-resultado {
    width: 200px;
    background-color: #17054ee4;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px;
}

input {
    background-color: #bbb8b87c;
    height: 30px;
    width: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
}

.container-valor-presente {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.btnCalcula {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 1px 1px 3px #000000;
}

.btnCalcula:hover {
    box-shadow: 2px 2px 4px #0000009b;
}